In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
df = pd.read_csv('suicide rates.csv')
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
27790,Uzbekistan,2012,female,25-34 years,148,2556673,5.79,Uzbekistan2012,0.668,"51,821,573,338",1964,Millenials
27791,Uzbekistan,2012,female,35-54 years,89,3474788,2.56,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation X
27792,Uzbekistan,2012,male,5-14 years,67,2701361,2.48,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation Z
27793,Uzbekistan,2012,female,55-74 years,25,1283060,1.95,Uzbekistan2012,0.668,"51,821,573,338",1964,Boomers
27794,Uzbekistan,2012,female,75+ years,4,338557,1.18,Uzbekistan2012,0.668,"51,821,573,338",1964,Silent
27795,Uzbekistan,2012,female,5-14 years,16,2578408,0.62,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation Z
27796,Uzbekistan,2013,male,35-54 years,481,3346411,14.37,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27797,Uzbekistan,2013,male,25-34 years,328,2644648,12.40,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27798,Uzbekistan,2013,female,15-24 years,323,3039740,10.63,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27799,Uzbekistan,2013,male,15-24 years,320,3171202,10.09,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27800,Uzbekistan,2013,male,55-74 years,119,1202790,9.89,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27801,Uzbekistan,2013,male,75+ years,13,221002,5.88,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27802,Uzbekistan,2013,female,25-34 years,146,2647820,5.51,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27803,Uzbekistan,2013,female,35-54 years,99,3547895,2.79,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27804,Uzbekistan,2013,female,75+ years,8,345180,2.32,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27805,Uzbekistan,2013,male,5-14 years,61,2720938,2.24,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27806,Uzbekistan,2013,female,55-74 years,21,1356298,1.55,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27807,Uzbekistan,2013,female,5-14 years,31,2595000,1.19,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27808,Uzbekistan,2014,male,35-54 years,519,3421300,15.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27809,Uzbekistan,2014,male,25-34 years,318,2739150,11.61,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27810,Uzbekistan,2014,female,15-24 years,347,2992817,11.59,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27811,Uzbekistan,2014,male,55-74 years,144,1271111,11.33,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers
27812,Uzbekistan,2014,male,15-24 years,347,3126905,11.10,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27813,Uzbekistan,2014,male,75+ years,17,224995,7.56,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27814,Uzbekistan,2014,female,25-34 years,162,2735238,5.92,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [8]:
df

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [10]:
df[df['HDI for year'].isnull()]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
27718,Uzbekistan,2003,female,25-34 years,99,1962726,5.04,Uzbekistan2003,NaN,"10,128,112,401",441,Generation X
27719,Uzbekistan,2003,female,75+ years,10,237495,4.21,Uzbekistan2003,NaN,"10,128,112,401",441,Silent
27720,Uzbekistan,2003,female,55-74 years,31,877339,3.53,Uzbekistan2003,NaN,"10,128,112,401",441,Silent
27721,Uzbekistan,2003,female,35-54 years,77,2675118,2.88,Uzbekistan2003,NaN,"10,128,112,401",441,Boomers
27722,Uzbekistan,2003,male,5-14 years,45,3219722,1.40,Uzbekistan2003,NaN,"10,128,112,401",441,Millenials
27723,Uzbekistan,2003,female,5-14 years,11,3085543,0.36,Uzbekistan2003,NaN,"10,128,112,401",441,Millenials
27724,Uzbekistan,2004,male,35-54 years,350,2639741,13.26,Uzbekistan2004,NaN,"12,030,023,548",516,Boomers
27725,Uzbekistan,2004,male,25-34 years,234,2012929,11.62,Uzbekistan2004,NaN,"12,030,023,548",516,Generation X
27726,Uzbekistan,2004,male,55-74 years,84,792630,10.60,Uzbekistan2004,NaN,"12,030,023,548",516,Silent
27727,Uzbekistan,2004,male,15-24 years,237,2836903,8.35,Uzbekistan2004,NaN,"12,030,023,548",516,Millenials
27728,Uzbekistan,2004,male,75+ years,9,145877,6.17,Uzbekistan2004,NaN,"12,030,023,548",516,Silent
27729,Uzbekistan,2004,female,15-24 years,137,2782222,4.92,Uzbekistan2004,NaN,"12,030,023,548",516,Millenials
27730,Uzbekistan,2004,female,75+ years,10,247300,4.04,Uzbekistan2004,NaN,"12,030,023,548",516,Silent
27731,Uzbekistan,2004,female,25-34 years,69,2003119,3.44,Uzbekistan2004,NaN,"12,030,023,548",516,Generation X
27732,Uzbekistan,2004,female,35-54 years,70,2761019,2.54,Uzbekistan2004,NaN,"12,030,023,548",516,Boomers
27733,Uzbekistan,2004,female,55-74 years,18,880059,2.05,Uzbekistan2004,NaN,"12,030,023,548",516,Silent
27734,Uzbekistan,2004,male,5-14 years,29,3167129,0.92,Uzbekistan2004,NaN,"12,030,023,548",516,Millenials
27735,Uzbekistan,2004,female,5-14 years,4,3031913,0.13,Uzbekistan2004,NaN,"12,030,023,548",516,Millenials
27748,Uzbekistan,2009,male,35-54 years,404,3072025,13.15,Uzbekistan2009,NaN,"33,689,223,673",1332,Boomers
27749,Uzbekistan,2009,male,25-34 years,252,2295850,10.98,Uzbekistan2009,NaN,"33,689,223,673",1332,Generation X
27750,Uzbekistan,2009,male,55-74 years,81,985960,8.22,Uzbekistan2009,NaN,"33,689,223,673",1332,Silent
27751,Uzbekistan,2009,male,15-24 years,242,3176656,7.62,Uzbekistan2009,NaN,"33,689,223,673",1332,Millenials
27752,Uzbekistan,2009,female,15-24 years,186,3079271,6.04,Uzbekistan2009,NaN,"33,689,223,673",1332,Millenials
27753,Uzbekistan,2009,female,25-34 years,85,2313972,3.67,Uzbekistan2009,NaN,"33,689,223,673",1332,Generation X
27754,Uzbekistan,2009,male,75+ years,7,192006,3.65,Uzbekistan2009,NaN,"33,689,223,673",1332,Silent
27755,Uzbekistan,2009,female,75+ years,7,318983,2.19,Uzbekistan2009,NaN,"33,689,223,673",1332,Silent
27756,Uzbekistan,2009,female,35-54 years,65,3263931,1.99,Uzbekistan2009,NaN,"33,689,223,673",1332,Boomers
27757,Uzbekistan,2009,female,55-74 years,15,1105076,1.36,Uzbekistan2009,NaN,"33,689,223,673",1332,Silent
27758,Uzbekistan,2009,male,5-14 years,37,2805898,1.32,Uzbekistan2009,NaN,"33,689,223,673",1332,Generation Z
27759,Uzbekistan,2009,female,5-14 years,18,2678474,0.67,Uzbekistan2009,NaN,"33,689,223,673",1332,Generation Z

In [11]:
df = df.drop('HDI for year' , axis = 1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 11 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(1), int64(4), object(6)
memory usage: 2.3+ MB

In [23]:
df['country'].value_counts().head(5)

Austria        382
Iceland        382
Mauritius      382
Netherlands    382
Belgium        372
Name: country, dtype: int64

In [24]:
df['country'].value_counts().tail(1)

Mongolia    10
Name: country, dtype: int64

In [22]:
z = df[(df['country'] == 'Austria') & (df['sex'] == 'male')]

191

In [29]:
df.groupby('sex').mean()['suicides_no']

sex
female    112.114306
male      373.034508
Name: suicides_no, dtype: float64

In [49]:
df.groupby('country').sum()['suicides/100k pop'].sort_values(ascending = False).head()

country
Russian Federation    11305.13
Lithuania             10588.88
Hungary               10156.07
Kazakhstan             9519.52
Republic of Korea      9350.45
Name: suicides/100k pop, dtype: float64

In [48]:
df.groupby('year').sum()['suicides/100k pop'].sort_values(ascending = False).head()

year
1995    14660.26
1999    14473.91
2000    14387.45
2001    14276.21
2002    14227.72
Name: suicides/100k pop, dtype: float64

In [80]:
z = df[df['year']==1987]['suicides/100k pop'].max()
df[(df['year'] == 1987) & (df['suicides/100k pop'] == z)]['country']

4568    Bulgaria
Name: country, dtype: object

In [74]:
# buat tabel dengan 3 kolom, tahun,jumlah suicide maks, nama negara
tahun = list(df['year'].unique())
negara = []
jumlah = []
for item in tahun:
    z = df[df['year']==item]['suicides/100k pop'].max()
    negara.append(df[(df['year'] == item) & (df['suicides/100k pop'] == z)]['country'])
    jumlah.append(round(df[df['year'] == item]['suicides/100k pop'].max()))
                  
data = {
    'Tahun' : tahun,
    'Negara': negara,
    'Suicide_Max' : jumlah
}
pd.DataFrame(data)

    Tahun                                             Negara  Suicide_Max
0    1987      4568    Bulgaria
Name: country, dtype: object        132.0
1    1988    22436    Singapore
Name: country, dtype: object        139.0
2    1989      4592    Bulgaria
Name: country, dtype: object        122.0
3    1992      11376    Hungary
Name: country, dtype: object        178.0
4    1993      11388    Hungary
Name: country, dtype: object        178.0
5    1994      11400    Hungary
Name: country, dtype: object        176.0
6    1995         1258    Aruba
Name: country, dtype: object        225.0
7    1996    15056    Lithuania
Name: country, dtype: object        151.0
8    1997      11436    Hungary
Name: country, dtype: object        162.0
9    1998    15080    Lithuania
Name: country, dtype: object        126.0
10   1999      11460    Hungary
Name: country, dtype: object        163.0
11   2000      11472    Hungary
Name: country, dtype: object        144.0
12   2001     23108    Slovenia
Name: country, dtype: object        145.0
13   2002  21764    Saint Vincent and Grenadines
Name: co...        157.0
14   2003  20446    Republic of Korea
Name: country, dtyp...        171.0
15   2004  20458    Republic of Korea
Name: country, dtyp...        173.0
16   2005  20470    Republic of Korea
Name: country, dtyp...        176.0
17   2006   22280    Seychelles
Name: country, dtype: object        205.0
18   2007  20494    Republic of Korea
Name: country, dtyp...        173.0
19   2008  20506    Republic of Korea
Name: country, dtyp...        155.0
20   2009  20518    Republic of Korea
Name: country, dtyp...        174.0
21   2010  20530    Republic of Korea
Name: country, dtyp...        182.0
22   1985    22400    Singapore
Name: country, dtype: object        145.0
23   1986    23912    Sri Lanka
Name: country, dtype: object        124.0
24   1990     24092    Suriname
Name: country, dtype: object        150.0
25   1991      11364    Hungary
Name: country, dtype: object        177.0
26   2012     24332    Suriname
Name: country, dtype: object        187.0
27   2013  20566    Republic of Korea
Name: country, dtyp...        148.0
28   2014  20578    Republic of Korea
Name: country, dtyp...        124.0
29   2015  20590    Republic of Korea
Name: country, dtyp...        141.0
30   2011  20542    Republic of Korea
Name: country, dtyp...        185.0
31   2016    15296    Lithuania
Name: country, dtype: object         97.0