In [1]:
import pandas as pd
df = pd.read_csv('startup_funding.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 10 columns):
Sr No                      3009 non-null int64
Date ddmmyyyy              3009 non-null object
Startup Name               3009 non-null object
Industry Vertical          2838 non-null object
SubVertical                2073 non-null object
City  Location             2829 non-null object
Investorsxe2x80x99 Name    2986 non-null object
InvestmentnType            3006 non-null object
Amount in USD              2049 non-null object
Remarks                    419 non-null object
dtypes: int64(1), object(9)
memory usage: 235.2+ KB

### Buat DataFrame yang mendeskripsikan Tiap Tiap kolom dari data Startup Funding

In [11]:
ListFitur = list(df.columns)
ListType = []
ListNull = []
ListPct = []
ListUniq = []
ListUniqs = []
for item in ListFitur:
    ListType.append(df[item].dtype)
    ListNull.append(df[item].isna().sum())
    ListPct.append(round(df[item].isna().sum() / len(df)) * 100)
    ListUniq.append(df[item].nunique())
    ListUniqs.append(list(df[item].value_counts().head(2).sort_index(ascending = True).index))

data = {
    'dataFeatures' : ListFitur,
    'dataType' : ListType,
    'null' : ListNull,
    'nullPct': ListPct,
    'unique': ListUniq,
    'uniqueSample' : ListUniqs
}
pd.DataFrame(data)

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,Sr No,int64,0,0.0,3009,"[1014, 2047]"
1,Date ddmmyyyy,object,0,0.0,1013,"[02/02/2015, 30/11/2016]"
2,Startup Name,object,0,0.0,2439,"[Ola Cabs, Swiggy]"
3,Industry Vertical,object,171,0.0,811,"[Consumer Internet, Technology]"
4,SubVertical,object,936,0.0,1912,"[Online Lending Platform, Online Pharmacy]"
5,City Location,object,180,0.0,109,"[Bangalore, Mumbai]"
6,Investorsxe2x80x99 Name,object,23,0.0,2385,"[Undisclosed Investors, Undisclosed investors]"
7,InvestmentnType,object,3,0.0,50,"[Private Equity, Seed Funding]"
8,Amount in USD,object,960,0.0,500,"[1,000,000, 500,000]"
9,Remarks,object,2590,100.0,72,"[Series A, Series B]"

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,Sr No,int64,0,0.00,3009,"[190, 1163]"
1,Date ddmmyyyy,object,0,0.00,1013,"[01/9/2016, 02/02/2015]"
2,Startup Name,object,0,0.00,2439,"[Chai Point, Policy Bazaar]"
3,Industry Vertical,object,171,5.68,811,"[Entertainment, Online Student & Campus Social..."
4,SubVertical,object,936,31.11,1912,"[Door Step Delivery platform, Online Pet Care ..."
5,City Location,object,180,5.98,109,"[New York/ India, Palo Alto]"
6,Investorsxe2x80x99 Name,object,23,0.76,2385,"[Vy Capital, SAIF Partners, Accel Partner, Bes..."
7,InvestmentnType,object,3,0.10,50,"[Series E, Bridge Round]"
8,Amount in USD,object,960,31.90,500,"[25,000,0000, 260,000,000]"
9,Remarks,object,2590,86.08,72,"[Series D, Series C]"

### Hapus Kolom Remarks

In [13]:
df = df.drop('Remarks', axis = 1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 9 columns):
Sr No                      3009 non-null int64
Date ddmmyyyy              3009 non-null object
Startup Name               3009 non-null object
Industry Vertical          2838 non-null object
SubVertical                2073 non-null object
City  Location             2829 non-null object
Investorsxe2x80x99 Name    2986 non-null object
InvestmentnType            3006 non-null object
Amount in USD              2049 non-null object
dtypes: int64(1), object(8)
memory usage: 211.6+ KB

### Hapus data yang kolom Industry Vertical dan Subverticalnya Kosong

In [17]:
df = df.dropna(subset=['Industry Vertical'])

In [18]:
df = df.dropna(subset=['SubVertical'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2073 entries, 0 to 2072
Data columns (total 9 columns):
Sr No                      2073 non-null int64
Date ddmmyyyy              2073 non-null object
Startup Name               2073 non-null object
Industry Vertical          2073 non-null object
SubVertical                2073 non-null object
City  Location             2067 non-null object
Investorsxe2x80x99 Name    2056 non-null object
InvestmentnType            2070 non-null object
Amount in USD              1391 non-null object
dtypes: int64(1), object(8)
memory usage: 162.0+ KB

### Hapus data yang Investorsxe2x80x99 Name atau InvestmentnType kosong atau City Location nya Kosong atau amount in usd nya kosong

In [22]:
df = df.dropna(subset=['Investorsxe2x80x99 Name'])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2056 entries, 0 to 2072
Data columns (total 9 columns):
Sr No                      2056 non-null int64
Date ddmmyyyy              2056 non-null object
Startup Name               2056 non-null object
Industry Vertical          2056 non-null object
SubVertical                2056 non-null object
City  Location             2050 non-null object
Investorsxe2x80x99 Name    2056 non-null object
InvestmentnType            2053 non-null object
Amount in USD              1377 non-null object
dtypes: int64(1), object(8)
memory usage: 160.6+ KB

In [25]:
df = df.dropna(subset=['City  Location'])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2050 entries, 0 to 2072
Data columns (total 9 columns):
Sr No                      2050 non-null int64
Date ddmmyyyy              2050 non-null object
Startup Name               2050 non-null object
Industry Vertical          2050 non-null object
SubVertical                2050 non-null object
City  Location             2050 non-null object
Investorsxe2x80x99 Name    2050 non-null object
InvestmentnType            2047 non-null object
Amount in USD              1375 non-null object
dtypes: int64(1), object(8)
memory usage: 160.2+ KB

In [28]:
df = df.dropna(subset=['InvestmentnType'])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2047 entries, 0 to 2072
Data columns (total 9 columns):
Sr No                      2047 non-null int64
Date ddmmyyyy              2047 non-null object
Startup Name               2047 non-null object
Industry Vertical          2047 non-null object
SubVertical                2047 non-null object
City  Location             2047 non-null object
Investorsxe2x80x99 Name    2047 non-null object
InvestmentnType            2047 non-null object
Amount in USD              1373 non-null object
dtypes: int64(1), object(8)
memory usage: 159.9+ KB

In [30]:
df = df.dropna(subset=['Amount in USD'])

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1373 entries, 0 to 2068
Data columns (total 9 columns):
Sr No                      1373 non-null int64
Date ddmmyyyy              1373 non-null object
Startup Name               1373 non-null object
Industry Vertical          1373 non-null object
SubVertical                1373 non-null object
City  Location             1373 non-null object
Investorsxe2x80x99 Name    1373 non-null object
InvestmentnType            1373 non-null object
Amount in USD              1373 non-null object
dtypes: int64(1), object(8)
memory usage: 107.3+ KB

### Ubah Nama Kolom Investorsxe2x80x99 Name menjadi Investor

In [32]:
df.rename(columns={'Investorsxe2x80x99 Name': "Investor"})

,Sr No,Date ddmmyyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investor,InvestmentnType,Amount in USD
0,0,05/09/2019,FPL Technologies,FinTech,Financial Services,Pune,"Matrix Partners India, Sequoia India",Maiden Round,"4,500,000"
1,1,04/09/2019,Cashflo,FinTech,Invoice discounting platform and SME lending m...,Mumbai,SAIF Partners,Series A,"3,300,000"
2,2,04/09/2019,Digital F5,"Advertising, Marketing",Digital marketing firm,Mumbai,TIW Private Equity,Private Equity Round,"6,000,000"
3,3,04/09/2019,3rdFlix,SaaS,Education Technology,Hyderabad,Exfinity Venture Partners,pre-series A,"5,000,000"
4,4,04/09/2019,75F,IoT,Building automation system,Burnsville,Breakthrough Energy Ventures,Series A,"18,000,000"
5,5,04/09/2019,Myelin Foundry,Information Technology,Deep-technology,Bengaluru,Endiya Partners,Seed,"10,00,000"
6,6,04/09/2019,Atomberg Technology,Consumer Technology,"Consumer Electronics, Home Appliances",Mumbai,A91 Partners,Series A,"10,000,000"
7,7,04/09/2019,GOQii,Health and Wellness,Wearable Fitness Bands,Menlo Park,Bennett Coleman and Company Ltd (BCCL),Series C,"450,000,000"
8,8,03/09/2019,Vyapar App,Accounting,Mobile-based Accounting Software,Bengaluru,"India Quotient, Axilor Ventures",Series A,"5,000,000"
9,10,01/08/2019,CarDekho,E-Commerce,Automotive,Gurgaon,SC GG India Mobility Holdings LLC,Series C,"20,000,000"
10,11,01/08/2019,Progcap,Finance,Supply Chain Management,New Delhi,Sequoia India,Series A,"5,000,000"
12,13,01/08/2019,Alteria Capital,Finance,VC Funds,Mumbai,"Azim Premji, Binny Bansal",Single Venture,"140,000,000"
13,14,01/08/2019,Pine Labs,Information Technology,Last-mile retail transaction technology,Noida,Pine Labs Pte Ltd,Corporate Round,"38,080,000"
14,15,12/08/2019,Meesho,E-Commerce,Social Commerce,Bengaluru,Naspers,Series D,"125,000,000"
15,16,13/08/2019,Cars24,E-Commerce,Car Retail,Gurugram,MS Dhoni,Series D,"11,000,000"
16,17,13/08/2019,Uniphore,Customer Service Platform,Conversational AI,Palo Alto,March Capital Partners,Series C,"51,000,000"
17,18,23/08/2019,Zendrive,Automotive,Road Safety Analytics,San Francisco,XL Innovate,Series B,"37,000,000"
18,19,23/08/2019,Lo! Foods,Consumer Goods,Low carb food for Diabetics,Bengaluru,"Rashmi Daga (founder, FreshMenu), Raveen Sastr...",Seed Round,"500,000"
19,20,23/08/2019,Tala,FinTech,Digital Lending Platform,Santa Monica,RPS Ventures,Series D,"110,000,000"
20,21,22/08/2019,INDwealth,FinTech,Wealth Management,Gurgaon,Tiger Global Management,Venture Round,"15,000,000"
21,22,21/08/2019,HungerBox,Food and Beverage,B2B Foodtech,Bengaluru,One97 Communications Ltd.,Series C,"6,590,000"
22,23,23/08/2019,AdmitKard,EdTech,University Admissions,Noida,Growth DNA,Seed Round,"10,00,000"
23,24,19/08/2019,Mishry Reviews,Services,Product Review,Gurgaon,Vir Sanghvi,Series A,Undisclosed
24,25,19/08/2019,Grofers,E-Commerce,Grocery Delivery,Gurgaon,Softbank Vision Fund,Series F,"70,000,000"
25,26,27/08/2019,Rapido Bike Taxi,Transportation,Bike Taxi,Bengaluru,Westbridge Capital,Series B,"3,900,000,000"
26,27,02/07/2019,RenewBuy,Finance,Auto Insurance,Gurgaon,"Lok Capital, IIFL Wealth",Series B,"19,000,000"
27,28,02/07/2019,Atlan,Information Technology,Big Data,Singapore,WaterBridge Ventures,Pre-Series A,"2,500,000"
28,29,01/07/2019,WizCounsel,Compliance,Consulting,New Delhi,Kapil Dev,Angel,"145,000"
29,30,03/07/2019,Ola Cabs,Transport,Cabs,Kormangala,"DIG Investment Ab, Deshe Holdings, Samih Touka...",Series J,"1,000,000"
30,31,01/07/2019,Uniphore,Artificial Intelligence,Speech Recognition,Taramani,March Capital Partners,Series C,"38,080,000"
...,...,...,...,...,...,...,...,...,...
2022,2056,18/01/2016,Kartrocket,Consumer Internet,SAAS DIY\\xc2\\xa0 ECommerce Platform,New Delhi,"Bertelsmann India Investments, Nirvana Digital...",Private Equity,"6,000,000"
2023,2057,19/01/2016,Swiggy,Consumer Internet,Online/Mobile food ordering platform,Bangalore,"Harmony Partners, RB Investments & existing in...",Private Equity,"35,000,000"
2027,2061,19/01/2016,DailyObjects,ECommerce,Mobile Accessories etailer,New Delhi,"Unilazer Fund,\\xc2\\xa0 Phanindra Sama, Peyus...",Private Equity,"1,400,000"
2028,2062,19/01/2016,Indus OS,Technology,Local language Mobile OS,Mumbai,"Omidyar Network,",Private Equity,"5,000,000"
2029,2063,19/01/2016,CollegeDunia,Consumer Internet,Educational College Search platform,New Delhi,Umang Kumar,Seed Funding,"445,000"
2030,2064,19/01/2016,Villgro,Finance,Social Business Incubator & Fund,Chennai,"Lemelson Foundation, Michael and Susan Dell Fo...",Private Equity,"3,500,000"
2032,2066,20/01/2016,IndustryBuying,ECommerce,B2B Industrial Goods Marketplace,New Delhi,Trifecta Capital,Private Equity,"1,800,000"
2033,2067,20/01/2016,Just Buy Live,ECommerce,B2B Marketplace for Distributors,Mumbai,Alpha Capital,Private Equity,"20,000,000"
2034,2068,20/01/2016,IMbesharam,ECommerce,Adult Products Etailers,New Delhi / US,Undisclosed US Based Investors,Private Equity,"4,000,000"
2035,2069,20/01/2016,Moodoo,Consumer Internet,Social Meeting organizer App,Mumbai / UK,Sa\\xc3\\xafd Business School Seed Fund.,Seed Funding,"40,000"
2038,2072,21/01/2016,Fisdom,Consumer Internet,Personal Finance Mobile App,Bangalore,Rob Chandra,Seed Funding,"500,000"
2039,2073,21/01/2016,Easypolicy,Consumer Internet,Online insurance policy aggregator,Noida,Unilazer Ventures,Private Equity,"2,200,000"
2040,2074,21/01/2016,Housing.com,Consumer Internet,Online Real Estate Portal,Mumbai,SoftBank Corp,Private Equity,"15,000,000"
2041,2075,21/01/2016,CREO,Technology,Smartphone OS Developer,Bangalore,"Sequoia Capital, Beenext Ventures, India Quoti...",Private Equity,"3,000,000"
2042,2076,22/01/2016,ShabdaNagari,Consumer Internet,Hindi Language Social Networking Portal,Kanpur,Kanpur Angels & Others,Seed Funding,"200,000"
2044,2078,22/01/2016,SnapBizz,ECommerce,Mobile based Retail Market Ecosystem,Bangalore,"Jungle Ventures, Taurus Value Creation, Konly ...",Private Equity,"7,200,000"
2047,2081,22/01/2016,Silvan,Technology,Home Automation & Security Solutions,Bangalore,The Chennai Angels,Seed Funding,"515,000"
2048,2082,22/01/2016,EPS,Technology,Electronic Payments Solution Company,Mumbai,APIS Partners,Private Equity,"35,000,000"
2049,2083,22/01/2016,Qubole,Technology,Enterprise Cloud Based Data Processing,Bangalore,"Institutional Venture Partners, Norwest Ventur...",Private Equity,"30,000,000"
2051,2085,25/01/2016,SIFTR Labs,Consumer Internet,Photography curation & Aggregator platform,Mumbai,Venture Catalysts,Seed Funding,"150,000"
2052,2086,25/01/2016,Power2SME,Consumer Internet,SME Online Buying Hub,Gurgaon,"Nandan Nilekani, Accel Partners, Kalaari Capit...",Private Equity,"21,000,000"
2055,2089,27/01/2016,Buildzar,ECommerce,Construction Material ETailer,Gurgaon,Puneet Dalmia,Private Equity,"4,000,000"
2056,2090,27/01/2016,Applicate,Technology,"Sales, Market, Distribution & Data Analytics P...",Bangalore,Undisclosed investors,Seed Funding,"1,000,000"
2058,2092,28/01/2016,Zebi (yet to launch),Technology,Data Intelligence & Analytics,Hyderabad,Un disclosed investors,Seed Funding,"1,000,000"
2059,2093,28/01/2016,Truce,FMCG,Vegetables & Fruits Supply Chain,Mumbai,"Anupam Mittal, Amit Gupta, Utsav Somani, Neera...",Seed Funding,"370,000"
2063,2097,29/01/2016,Qriyo,Consumer Internet,Online Fitness & Educational information Aggre...,Jodhpur,Idein Ventures,Seed Funding,"160,000"
2065,2099,29/01/2016,Aisle,Consumer Internet,Indians focused Matchmaking App,Bangalore,"TermSheet, ah! Ventures",Seed Funding,"185,000"
2066,2100,29/01/2016,FreshMenu,Consumer Internet,Fresh Food Delivery platform,Bangalore,"Zodius Technology Fund, Lightspeed Venture Par...",Private Equity,"17,000,000"
2067,2101,29/01/2016,Truebil,ECommerce,Online marketplace for cars,Mumbai,"Kalaari Capital, Inventus Capital, Tekton Vent...",Private Equity,"5,150,000"
2068,2102,29/01/2016,Rare Media,Technology,Mobile & Cloud based App developer,New Delhi,Info Edge (India) Ltd,Private Equity,"1,100,000"

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1373 entries, 0 to 2068
Data columns (total 9 columns):
Sr No                      1373 non-null int64
Date ddmmyyyy              1373 non-null object
Startup Name               1373 non-null object
Industry Vertical          1373 non-null object
SubVertical                1373 non-null object
City  Location             1373 non-null object
Investorsxe2x80x99 Name    1373 non-null object
InvestmentnType            1373 non-null object
Amount in USD              1373 non-null object
dtypes: int64(1), object(8)
memory usage: 107.3+ KB

### Isi Kolom Subvertical yang kosong dengan kolom Industry Verticalnya

In [40]:
mode_V = df['Industry Vertical'].mode().values[0]
mode_V

'Consumer Internet'

In [41]:
df['SubVertical'] = df['SubVertical'].fillna(mode_V)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1373 entries, 0 to 2068
Data columns (total 9 columns):
Sr No                      1373 non-null int64
Date ddmmyyyy              1373 non-null object
Startup Name               1373 non-null object
Industry Vertical          1373 non-null object
SubVertical                1373 non-null object
City  Location             1373 non-null object
Investorsxe2x80x99 Name    1373 non-null object
InvestmentnType            1373 non-null object
Amount in USD              1373 non-null object
dtypes: int64(1), object(8)
memory usage: 107.3+ KB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1893 non-null int64
Date ddmmyyyy        1893 non-null object
Startup Name         1893 non-null object
Industry Vertical    1893 non-null object
SubVertical          1893 non-null object
City  Location       1893 non-null object
Investor             1893 non-null object
InvestmentnType      1893 non-null object
Amount in USD        1893 non-null object
dtypes: int64(1), object(8)
memory usage: 147.9+ KB

### Hapus data dengan kolom Amount in USD Mengandung Alphabet

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1877 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1877 non-null int64
Date ddmmyyyy        1877 non-null object
Startup Name         1877 non-null object
Industry Vertical    1877 non-null object
SubVertical          1877 non-null object
City  Location       1877 non-null object
Investor             1877 non-null object
InvestmentnType      1877 non-null object
Amount in USD        1877 non-null object
dtypes: int64(1), object(8)
memory usage: 146.6+ KB

### Ubah type data kolom Amount in USD Menjadi int64 , ubah dulu semua koma di data menjadi string kosong dan ubah juga selain angka menjadi string kosong

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1877 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1877 non-null int64
Date ddmmyyyy        1877 non-null object
Startup Name         1877 non-null object
Industry Vertical    1877 non-null object
SubVertical          1877 non-null object
City  Location       1877 non-null object
Investor             1877 non-null object
InvestmentnType      1877 non-null object
Amount in USD        1877 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 146.6+ KB

### Cari Lima Startup Yang Mendapat Pendanaan Paling Banyak

Lima Startup dengan Pendanaan Paling Banyak

Rapido Bike Taxi
Flipkart
Paytm
Flipkart
Flipkart.com

### Cari Lima Investor Yang mengeluarkan uang paling banyak

Lima Investor dengan Pengeluaran Paling Banyak

Westbridge Capital
Softbank
SoftBank Group
Microsoft, eBay, Tencent Holdings
Steadview Capital and existing investors

### Cari lima industri Vertical dengan Pendanaan Paling Banyak

Lima Industri Vertical dengan Pendanaan Paling Banyak

Consumer Internet
eCommerce
Transportation
Technology
ECommerce